<h1>Welcome, wizard!</h1>

<div id="user-form">
  <form {{action 'save'}}>
    <div>
      <label for="first_name">First name:</label>
      <input name="first_name">
    </div>

    <div>
      <label for="last_name">Last name:</label>
      <input name="last_name">
    </div>

    <div>
      <label for="email">Email:</label>
      <input name="email">
    </div>

    <div>
      <label for="password">Password:</label>
      <input name="password">
    </div>

    <div>
      <label for="password_confirmation">Password confirmation:</label>
      <input name="password_confirmation">
    </div>

    <div>
      <label for="bio">Bio:</label>
      <textarea name="bio"></textarea>
    </div>

    <div>
      <input type="Submit">
    </div>
  </form>
</div>
