<div class="row">
  <div class="large-9 small-12 columns">
    <h4>{{firstName}} {{lastName}}</h4>

    <div id="bio">
      Bio: {{bio}}
    </div>

    <h4>Projects:</h4>

    <ul id="projects">
      {{#each project in projects}}
        <li>{{link-to project.name 'projects.show' project}}</li>
      {{/each}}
    </ul>
  </div>
</div>
