<h1>Add your evil scheme!</h1>

<div id="project-form">
  <form {{action 'save'}}>
    <div>
      <label for="name">Name:</label>
      <input name="name">
    </div>

    <div>
      <label for="description">Description:</label>
      <input name="description" type="text">
    </div>

    <div>
      <input type="Submit">
    </div>
  </form>
</div>
