@import "bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";

$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(min-width 850px);

$base-accent-color: #bff073 !default;
$base-color: #ffd041 !default;

#page {
  @include outer-container;

  #content {
    @include media($mobile) {
      @include span-columns(12);
    }
    @include media($desktop) {
      @include span-columns(8);
    }
  }

  #sidebar {
    @include media($mobile) {
      @include span-columns(12);
    }
    @include media($desktop) {
      @include span-columns(4);
    }
  }

  .sidebar-content {
    ///////////////////////////////////////////////////////////////////////////////////

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
    }
    //////////////////////////////////////////////////////////////////////////////////

    $sidebar-border-color: $base-color;
    $sidebar-background: lighten($sidebar-border-color, 20%);
    $sidebar-color: #f05b47;
    $sidebar-border: 1px solid $sidebar-border-color;
    $sidebar-background-hover: $base-accent-color;
    $sidebar-color-hover: #7f7f7f;
    $sidebar-background-focus: lighten($sidebar-background, 5%);

    background: $sidebar-background;

    li a {
      border-bottom: $sidebar-border;
      color: $sidebar-color;
      display: block;
      font-weight: bold;
      padding: 1em;

      &:focus {
        background-color: $sidebar-background-focus;
      }

      &:hover {
        background-color: $sidebar-background-hover;
        color: $sidebar-color-hover;
      }
    }
  }
}
