<form id="login" {{action 'authenticate' on='submit'}}>
  <label for="email">Email:</label>
  {{input name='email'}}
  <label for="password">Password:</label>
  {{input name='password' type='password'}}
  <input type="submit" value="Login">
</form>
