<div class="row">
  <div class="large-9 small-12 columns">
    <div id="task-form" class="row">
      <form {{action 'save' model on='submit'}}>
        <div class="medium-9 small-12 columns">
          {{input name="name" value=model.name placeholder='Add a task'}}

          {{#each error in model.errors.name}}
            <p>{{error.message}}</p>
          {{/each}}
        </div>

        <div class="medium-3 small-12 columns">
          <input type="Submit" class="button small">
        </div>
      </form>
    </div>
  </div>
</div>
